.wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
}

.action-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.action-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  & > span {
    font-size: 12px;
    font-weight: 600;
  }
  .comment-icon {
    font-size: 18px;
    color: #333;
  }
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  background-color: rgba(22, 24, 35, 0.06);
}
