.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;
  width: 100%;
  height: var(--default-layout-header-height, 60px);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-left: 16px;
  padding-right: 24px;

  background-color: var(--white);

  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: var(--default-layout-width);
}

.search,
.search-result {
  width: 500px;
}

.search {
  position: relative;
  display: flex;
  height: var(--search-height);
  padding-left: 16px;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  border: 1.5px solid transparent;

  input {
    flex: 1;
    height: 100%;
    background-color: transparent;
    font-size: 1.6rem;
    caret-color: var(--primary);
    color: var(--black);
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }

  input:not(:placeholder-shown) ~ .clear {
    display: block;
  }

  &::after {
    content: '';
    position: absolute;
    top: var(--search-top-spacer);
    right: var(--search-button-width);
    width: 1px;
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    background-color: rgba(22, 24, 35, 0.12);
  }

  &:focus-within,
  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.search-title {
  padding: 5px 12px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
  position: absolute;
  top: 50%;
  right: calc(var(--search-button-width) + 16px);
  font-size: 1.6rem;
  color: rgba(22, 24, 35, 0.34);
  transform: translateY(-50%);
}

.clear {
  cursor: pointer;
  display: none;
}

.search-btn {
  width: var(--search-button-width);
  height: 100%;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);

  &:hover {
    cursor: pointer;
    background-color: rgba(22, 24, 35, 0.06);
    color: rgba(22, 24, 35, 0.75);
  }

  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}

.logo {
  flex: 0 0 118px;
  & > a,
  img {
    display: block;
  }
}

.actions {
  display: flex;
  align-items: center;

  &-login {
    gap: 24px;
  }
}

.action-btn {
  background-color: transparent;
  cursor: pointer;
}

.menu-btn {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 16px;
  padding: 4px 8px;
  background-color: transparent;
}

.avatar {
  cursor: pointer;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
}
